@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    header {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 5px 0;
    }
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    .header-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
        // position: fixed;
        img {
            width: 45px;
            height: 45px;
        }
        h1{
            color: rgb(78, 73, 73);
        }
    }
}

.header-asaxiy {
    display: flex;
    align-items: center;
}

.btn-1 {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    border-radius: 8px;
    color: white;
    background-color: rgb(77, 156, 247);
    border: none;
    outline: none;
    &:hover {
        background-color: rgb(34, 132, 244) ;
        
    }

}

.header-input {
    
    // width: 100%;
  form {
    display: flex;
    align-items: center;
    input {
        // border: none;
        outline: none;
        border-color: rgb(77, 156, 247) ;
        width: 353px;
        padding: 12px 20px;
        border-radius: 8px 0 0 8px;
    }
    .input-search {
        // width: 200%;
    }
    h3 {
        background-color: rgb(77, 156, 247);
        color: white;
        padding: 10.6px 20px;
        border-radius: 0 8px 8px 0;
        &:hover {
            background-color: rgb(34, 132, 244) ;

        }
    }
  }
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    // width: 85px;
    &:hover svg {
    fill:rgb(77, 156, 247) ;

    }
    p {
        color:rgb(77, 156, 247) ;
        color: black ;
        font-size: 12px;
        font-weight: 400;

    }
    &:hover p {
        color:rgb(77, 156, 247) ;
        // color: black ;
        font-size: 12px;
        font-weight: 400;

    }
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-left: 20px;
    // background: #ff0000;
    // position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.add {
    position: relative;
    .cart-count {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color:rgb(77, 156, 247) ;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        font-family: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -2px;
        left: 20px;
        z-index: 10;
    }
    .yurak{ 
        top: 2px;
        left: 27px;
    }
  
}



.scale {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    color:rgb(77, 156, 247) ;
   &:hover svg  {
    fill:rgb(77, 156, 247) ;
    transition: .3s ease;
   }
    &:hover p{
        color: rgb(77, 156, 247);
    }
    // svg:hover {
    //     fill:rgb(77, 156, 247) ;

    // }
    p{
        color: black ;
        font-size: 12px;
        font-weight: 400;
        &:hover{
            color:rgb(77, 156, 247) ;
        }
    }
}

.payment {
    text-align: center;
    .fa-credit-card:hover {
        color: rgb(77, 156, 247);

    }
}

.tracker:hover {
    text-align: center;
    .fa-truck-droplet {
        color: rgb(77, 156, 247);

    }
}

.cart {
    position: relative;
    text-align: center;
    .fa-solid:hover {
        color: rgb(77, 156, 247);
    }
    // .cart-count {
    //     position: absolute;
    //     width: 14px;
    //     height: 14px;
    //     background-color:rgb(77, 156, 247) ;
    //     color: white;
    //     border-radius: 50%;
    //     font-size: 12px;
    //     font-family: 500px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     top: -2px;
    //     left: 20px;
    // }
}

.heart {
    text-align: center;
    .fa-regular:hover {
        color: rgb(77, 156, 247);

    }
}

 .lenguage{
    text-align: center
    ;
    .lenguage-img {
        width: 20px;
        height: 20px;

    }
}

.avatar {
    text-align: center;
    .fa-regular {
        // width: 40px;
        // height: 40px;
    }
    .fa-regular:hover {
        color: rgb(77, 156, 247);
        // width: 50px;

    }
}

// MAIN  //////////////////
main {
    background: #f4f7fd;
    // margin-top: -50px;
}

.hero-box {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}

.hero-card {
    background-color: white;
    width: 256px;
    height: 433px;
    padding: 15px;
    border-radius: 18px;
    

}


// 90 721 55 88  

.hero-1 {
    
    button {
        padding: 2px 8px;
        background-color: #ff0000;
        border: none;
        color: white;
        border-radius: 5px;
    }
    img {
        width: 160px;
        height: 160px;
        transition: .3s linear;
        &:hover{
            transform: scale(1.095);
        }
    }
}

.paragriph {
    line-height: 26px;
    text-align: left;
    height: 56px;
    font-size: 16px;
    font-weight: 500px;
    color: black;
    margin-bottom: 10px;
    overflow: hidden;
    display : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hero-btn-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-1-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        
    }
}

.hero-img-1 {
    margin-left: 33px;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        height: 12px;
        width: 86px;
    }
    span {
        display: flex;
        align-items: center;
        gap: 5px;
        // justify-content: space-between;
    }
}

.price-h3 {
    margin-top: 10px;
    color:rgb(77, 156, 247) ;

}

h4 {
    margin-top: 4px;
    border: 1px solid rgb(241, 168, 11);
    color: rgb(241, 168, 11);
    padding: 3px;
    border-radius: 3p;
}
 
.card-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    // border-radius: 8px !important;
    button {
        background: rgb(77, 156, 247);
        padding: 8px 25px;
        &:hover {
            background-color: rgb(34, 132, 244) ;

        }
    }
    .card-svg {
        background: #00bfaf;
        padding: 8px 10px;
        // margin-top: 10px;
        border-radius: 6px;
        &:hover {
            background: #028b80;

        }

    }

    
}

.rowww {
    // border: 0.20px solid gray;
    margin: 18px 0;
    width: 100%;
    height: 1px;
    background-color: gray;
}

///// MAIN BOT
.header-bot {
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    background: white;
    padding: 10px 0;
}

.header-bot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    gap: 97px;
    .header-moon {
        display: flex;
        align-items: center;
        gap: 15px;
        h3{
            font-size: 16px;
            font-weight: 200px;
        }
    }
}


/// LOADING

.loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    // width: 250px;
    // height: 400px;
    // background: blue($color: #3a77a0);
    .loading-1 {
        width: 250px;
        height: 300px;
        background: rgb(218, 218, 222);
    }
}

//  MENU  /////////////////////

.menu-svg {
    display: none;
}





//  MEDIA  /////////////////

@media(max-width: 1320px){
    .header-input {
        // display: none;
        .input-search {
            width: 200px;
        }
    }

    .header-bot-box {
        display: flex;
        gap: 72px;
    }
}

@media(max-width: 1150px){
    .header-input {
        display: none;
        
    }
    .header-bot-box{
        display: flex;
        gap: 20px;
    }
    // .product {
    //     display: flex;
    //     gap: 20px;
    // }
}


@media(max-width: 850px){
    .header-box {
        position: relative;
    }
    .product {
        display: none !important;
        display: flex;
        // gap: 10px;
    }
    .btn-1 {
        display: none;
    }
    .menu-svg {
        display: block;
    }

    .product {
        transition: .3s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: red;
        top: -1000% !important;
        left: 0;
        right: 0;
        transition: .5s linear;


        // background-color: yellowgreen;
        // padding: 20px 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // position: fixed;
        // top: 0;
        // right: 0;
        // left: 0;
    }

    .google {
        display: block !important;
        top: 76px !important;
        transition: .5s linear !important;
    }

    .header-box {
        display: flex;
        justify-content: space-between;
    }

    .header-box {
        display: flex;
        justify-content: space-between !important ;
        // h1 {
        //     margin-right: 490px;
        // }
    }
    

}

@media(max-width: 730px){
    .header-bot-box{
        display: none;
    }

    
     
}